.field {
    padding: 5px 0;
    width: 100%;
}

#submit {
    padding: 3px 10px;
    cursor: pointer;
    margin-top: 5px;
    width: 100px;
}

.container {
    margin: 0 auto;
    width: 250px;
}

.container input {
    width: 100%;
    padding: 3px;
}

div.error {
    font-size: 12px;
    color: red;
}

#table-view, #chart-view {
    margin: 0 auto;
    width: 800px;
}

table {
    border-collapse: collapse;
    border: 1px solid #CCC;
    font-size: 12px;
    width: 100%;
}

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 4px;
    border: 1px solid #ccc;
    text-align: left;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

svg {
    border: 1px solid #CCC;
    margin-bottom: 20px;
}
